/*  your css code here. If applicable */

body{
	background-color: grey;
}
	h1{
	text-align: center;
}
 .flex-container{
	 border: 1px solid black;
	 background-color: white;
	 color: black;
	 margin-left: 300px;
	  margin-right:300px;
	 padding: 20px;
 }
ul{
	list-style-type: none;
}
h2{
	text-align: center;
}
.player_one{
   border:1px solid black;
	display : flex;
	justify-content: center;
  background-color: rgb(255,255,255);
    flex-direction: column;
	padding: 40px;
	margin-left: 400px;
	margin-right:400px
}

.player_two{
	 width: 400px;
	margin-left:5px;
	margin-right: 10px;
}