body {
    background-color: rgb(204, 204, 204);
    font-family: Arial, sans-serif;
}

h1, h2 {
    text-align: center;
}

.playlist {
    width: 80%;
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    /* justify-content: center*/
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    margin: 5px 0;
}

a {
    text-decoration-line: none;
    color: black;
    font-size: 18px;
}
.player_one, .player_two {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    /* align-items: center;  */
} 

video, audio {
    width: 100%;
    border-radius: 10px;
}
